@using KINOv2.Models.MainModels
@model IEnumerable<Film>
@{
    ViewData["Title"] = "Афиша";
}


<div class="container px-0 px-sm-3">
    <div class="row main-affiche">

        @if (User.IsInRole("Admin"))
        {
            <div class="col-12">
                <div class="row d-flex justify-content-center justify-content-md-between mb-2">
                    <h1 class="col-10 col-md-4">@ViewData["Title"]</h1>
                    <a class="align-self-center border-orange btn col-10 col-md-3 d-flex justify-content-center mr-md-3" asp-area="" asp-controller="Content" asp-action="FilmManage">Добавить фильм</a>
                </div>
            </div>
        }
        else
        {
            <h1 class="col-12">@ViewData["Title"]</h1>
        }

        <h2 class="col-12">@ViewData["Message"]</h2>

        <div class="d-md-flex flex-md-row mb-4 col mt-2">
            <ul class="nav col d-flex justify-content-between d-md-inline-flex align-self-md-start align-items-baseline flex-row flex-nowrap pr-0">
                <li class="nav-item session-nav">
                    <a class="btn border-orange col nav-link text-center session-date selected px-2 px-md-3" asp-area="" asp-controller="Home" asp-action="FilmSessions" asp-route-date="@DateTime.Now.Date.ToShortDateString()" data-target="filmlist">Сегодня @DateTime.Now.Date.ToString("dd.MM")</a>
                </li>
                <li class="nav-item dropdown d-md-none text-center">
                    <a id="session-drop" class="nav-link dropdown-toggle px-2 px-md-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ближайшие дни</a>
                    <div class="dropdown-menu session-dropdown">
                        <a class="dropdown-item session-date" asp-area="" asp-controller="Home" asp-action="FilmList" asp-route-date="@DateTime.Now.Date.AddDays(1).ToShortDateString()" data-target="filmlist">Завтра @DateTime.Now.Date.AddDays(1).ToString("dd.MM")</a>
                        <a class="dropdown-item session-date" asp-area="" asp-controller="Home" asp-action="FilmList" asp-route-date="@DateTime.Now.Date.AddDays(2).ToShortDateString()" data-target="filmlist">Послезавтра @DateTime.Now.Date.AddDays(2).ToString("dd.MM")</a>
                    </div>
                </li>
                <li class="nav-item session-nav d-none d-md-flex justify-content-center">
                    <a class="btn border-orange col nav-link session-date" asp-area="" asp-controller="Home" asp-action="FilmList" asp-route-date="@DateTime.Now.Date.AddDays(1).ToShortDateString()" data-target="filmlist">Завтра @DateTime.Now.Date.AddDays(1).ToString("dd.MM")</a>
                </li>
                <li class="nav-item session-nav d-none d-md-flex justify-content-center">
                    <a class="btn border-orange col nav-link session-date" asp-area="" asp-controller="Home" asp-action="FilmList" asp-route-date="@DateTime.Now.Date.AddDays(2).ToShortDateString()" data-target="filmlist">Послезавтра @DateTime.Now.Date.AddDays(2).ToString("dd.MM")</a>
                </li>
                <li class="nav-item session-nav">
                    <a class="col btn border-orange nav-link date-picker px-2 px-md-3" asp-area="" asp-controller="Home" asp-action="FilmList" data-target="filmlist">
                        <div class="">
                            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                <input type="hidden" class="form-control datetimepicker-input" data-target="#datetimepicker4" />
                                <div class="input-group-append mx-auto" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                    <div class=""><span class="d-none d-md-inline">Выбрать дату</span><i class="fa fa-calendar d-md-none"></i></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="filmlist">
            @await Html.PartialAsync("FilmList", Model)
        </div>
    </div>
</div>
