@using KINOv2.Models.MainModels
@{
    ViewData["Title"] = "Афиша";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<div>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <a asp-area="" asp-controller="Content" asp-action="FilmManage" class="btn">Добавить фильм</a>
        </div>
    }

    <div class="row justify-content-sm-center justify-content-md-start">
        @foreach (Film film in ViewData["Films"] as IEnumerable<Film>)
        {
            <div class="col-9 col-sm-5 col-md-4 col-lg-4 col-xl-3 mb-3 mx-auto mx-sm-0 mt-2 mt-md-0">
                @{
                    <div>
                        <a class="text-orange affiche-film" asp-area="" asp-controller="Home" asp-action="Film" asp-route-id="@film.LINK">
                            <div class="image-container"><img class="img-fluid img-fixed" src="@Url.Content("~/images/Posters/" + film.Poster)" /></div>
                            <div class="h4 text-center text-orange">
                                @(film.Name)
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    </div>

    <nav>
        <page-link page-model=@(ViewData["PageView"] as PageViewModel) page-action="Affiche"></page-link>
    </nav>
</div>
