@{
    var film = (ViewData["Film"] as Film);
    bool favorite = (Convert.ToBoolean(ViewData["Favorite"]));
    bool filmRated = (Convert.ToBoolean(ViewData["FilmRated"]));
}

<div class="film-container">
    <div class="row mx-auto" style="max-width: 1000px;">
        <div class="col-12 col-sm-5 col-md-5 " style=" ">
            <img class="img-fluid" src="@Url.Content("~/images/Posters/" + film.Poster)" />

            <div class="row mx-auto my-auto">
                <div id="film-rating" class="col-12 col-md-12 @(User.Identity.IsAuthenticated ? "":"rate-disabled") @(filmRated ? "voted" : "")">
                    <input type="hidden" class="votes" value="@(film.Rating.Count )" />
                    <input type="hidden" class="val" value="@film.LocalRating" />
                    <input type="hidden" class="vote-id" value="@film.LINK" />
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-7 col-md-7 ">
            <h1 class="position-relative">
                @film.Name
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#" id="favorite" class="ml-3 ml-md-3 position-absolute" style="top:auto; right:auto"><i data-film-id="@film.LINK" id="flag" style="font-size:40px; color:#f6a21c; margin-top:10px;" title="@(favorite ? "Убрать из избранного" : "Добавить в избранное")" class="fa @(favorite ? "fa-bookmark" : "fa-bookmark-o" )"></i></a>
                }

            </h1>
            <div style="margin-bottom:5px;" class="row">
                <label class="text-info col" asp-for="@film.ReleaseYear"></label>
                <span class="col">@film.ReleaseYear</span>
            </div>
            <div style="margin-bottom:5px;" class="row">
                <label class="text-info col" asp-for="@film.Duration"></label>
                <span class="col">@film.Duration</span>
            </div>
            <div style="margin-bottom:5px;" class="row">
                <label class="text-info col" asp-for="@film.CountryLINK"></label>
                <span class="col">@film.Country.Name</span>
            </div>
            <div style="margin-bottom:5px;" class="row">
                <label class="text-info col" asp-for="@film.GenreLINK"></label>
                <span class="col">@film.Genre.Name</span>
            </div>
            <div style="margin-bottom:5px;" class="row">
                <label class="text-info col" asp-for="@film.DirectorLINK"></label>
                <span class="col">@film.Director.Name @film.Director.Surname</span>
            </div>
            <div style="margin-bottom:5px;" class="row">
                <label class="text-info col-6" asp-for="@film.AgeLimitLINK"></label>
                <span class="age-label offset-1">@film.AgeLimit.Value</span>
            </div>
            <h3>О фильме</h3>
            <p style="word-break:break-word; max-width:500px; font-family:Helvetica Neue, Helvetica, Arial, sans-serif;">
                @film.Description
            </p>
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <hr />
        <div class="row">
            <a asp-area="" asp-controller="Content" asp-action="SessionManage" asp-route-film="@film.LINK">Добавить сеанс</a>
        </div>
    }

    <h2>Сеансы</h2>
    <hr />
    <div class="d-md-flex flex-md-row">
        <ul class="nav d-md-inline-flex align-self-md-start flex-md-column ml-md-5" data-film-id="@film.LINK">
            <li class="nav-item w-25">
                <a class="nav-link text-center session-date selected" asp-area="" asp-controller="Home" asp-action="FilmSessions" asp-route-filmid="@film.LINK" asp-route-date="28/09/2017" data-target="sessions">Сегодня 29.09</a>
            </li>
            <li class="nav-item dropdown d-md-none w-50 text-center mt-2">
                <a id="session-drop" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ближайшие дни</a>
                <div class="dropdown-menu session-dropdown">
                    <a asp-area="" asp-controller="Home" asp-action="FilmSessions" asp-route-filmid="@film.LINK" asp-route-date="29/09/2018" class="dropdown-item session-date" data-target="sessions">Завтра 30.09</a>
                    <a class="dropdown-item session-date" asp-area="" asp-controller="Home" asp-action="FilmSessions" asp-route-filmid="@film.LINK" asp-route-date="29/09/2018" data-target="sessions">Послезавтра 31.09</a>
                </div>
            </li>
            <li class="nav-item d-none d-md-flex">
                <a class="nav-link session-date" href="#">Завтра</a>
            </li>
            <li class="nav-item d-none d-md-flex">
                <a class="nav-link session-date" href="#">Послезавтра</a>
            </li>
            <li class="nav-item w-25">
                <a class="nav-link date-picker" asp-area="" asp-controller="Home" asp-action="FilmSessions" asp-route-filmid="@film.LINK" data-target="sessions">
                    <div class="form-group mt-2">
                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                            <input type="hidden" class="form-control datetimepicker-input" data-target="#datetimepicker4" />
                            <div class="input-group-append mx-auto" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                <div class=""><span class="d-none d-md-inline">Выбрать дату</span><i class="fa fa-calendar d-md-none"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <div class="row w-100 mx-auto mx-md-0 align-content-md-center" id="sessions">
            @await Html.PartialAsync("FilmSessions")
        </div>
    </div>

    <h2>Трейлер</h2>
    <hr />
    <section class="row" style="max-width:800px; margin:auto;">
        <center class="embed-responsive embed-responsive-16by9 col-md-9 col-lg-12 mx-auto">
            <iframe class="embed-responsive-item" src="@film.TrailerLink" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </center>
    </section>


    <div id="comments" class="mt-2">
        @await Html.PartialAsync("Comments")
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <h3>Написать сообщение</h3>
        <div class="row border rounded no-gutters mx-auto" style="max-width:700px;">

            <form class="w-100 col-12" asp-area="" asp-controller="Home" asp-action="SendMessage" asp-route-id="@film.LINK" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-update="#comments" data-ajax-mode="replace">
                <input id="reply-comment" type="hidden" name="replyid" value="-1" />
                <div class="">
                    <textarea id="message" name="msg" placeholder="Напишите ответ..." style="text-align:left"></textarea>
                    <button id="msg-sender" class="btn btn-info" type="submit" style=" z-index:1; position:absolute; bottom:0px; left:55%; background-color:#f6a21c; border-color:#f6a21c; ">Отправить</button>
                </div>
            </form>

        </div>
    }
    else
    {
        <div class="row">
            <div class="text-center mx-auto">
                <span> Только авторизованные пользователи могут оставлять комментарии.</span><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@(Url.RouteUrl(new { controller = "Home", action = "Film", id = film.LINK }))"> Войдите, пожалуйста.</a>
            </div>
        </div>
    }
</div>
