
@{
    ViewData["Title"] = "Sessions";
    Session session = ViewData["Session"] as Session;
    int rowCount = (int)Math.Sqrt(session.Hall.SeatsNumber / 4);
}



@*<p>Фильм: @session.Film.Name</p>
<p>Зал: @session.Hall.Name</p>
<p>Дата: @session.SessionTime.ToShortDateString()</p>
<p>Время: @session.SessionTime.ToShortTimeString()</p>*@

<div class="row">
    <h2 class="col-12">Заказ билета</h2>
    <div class="col-12">
        <div style="margin-bottom:5px;" class="row">
            <label class="text-info col" asp-for="@session.Film.Name"></label>
            <span class="col">@session.Film.Name</span>
        </div>
        <div style="margin-bottom:5px;" class="row">
            <label class="text-info col">Зал</label>
            <span class="col">@session.Hall.Name</span>
        </div>
        <div style="margin-bottom:5px;" class="row">
            <label class="text-info col">Дата</label>
            <span class="col">@session.SessionTime.ToShortDateString()</span>
        </div>
        <div style="margin-bottom:5px;" class="row">
            <label class="text-info col">Время</label>
            <span class="col">@session.SessionTime.ToShortTimeString()</span>
        </div>
        <div style="margin-bottom:5px;" class="row">
            <label class="text-info col">Цена билета</label>
            <span class="col">@session.Cost р.</span>
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        @*@{
            string hrefEdit = string.Format("/Manage/SessionManage?id={0}", ViewBag.Session.LINK);
            string hrefDelete = string.Format("/Manage/ArchiveSession?id={0}", ViewBag.Session.LINK);
        }
        <p><a class="btn btn-default" style="margin-left:10px; width:150px;" href=@hrefEdit>Редактировать</a></p>
        <p><a class="btn btn-default" style="margin-left:10px; width:150px;" href=@hrefDelete>Архивировать</a></p>*@
        <a asp-area="" asp-controller="Content" asp-action="SessionManage" asp-route-id="@session.LINK">Редактировать</a>
        <a asp-area="" asp-controller="Content" asp-action="ArchiveSession" asp-route-id="@session.LINK">Архивировать</a>
    </div>
}

<hr />
<p style="text-align:center">Экран</p>
@{
    List<Seat> seats = session.Seats.ToList();

    <div class="seat-set" style="margin:auto;">
        @for (int i = 0; i < rowCount; i++)
        {
            <div class="seat-row">
                @for (int j = 0; j < rowCount * rowCount; j++)
                {
                    Seat seat = null;
                    try
                    {
                        seat = seats.FirstOrDefault(s => s.Row == i + 1 && s.Number == j + 1);
                    }
                    catch { }
                    if (seat != null && seat.IsBooked)
                    {
                        <div class="seat booked"></div>
                    }
                    else
                    {
                        <div class="seat" row="@(i+1)" number="@(j+1)"></div>

                    }
                }
            </div>
        }
    </div>
    <div class=" mx-auto mt-2 border rounded border-info d-flex" style="max-width:7rem;">
        <div class="legend d-inline m-2 ml-3" style="height:1.5rem; width:1rem;">
        </div>
        <span class=" my-auto" style="font-size:0.8rem;">- Занято</span>
    </div>
    <div class="finalize-block">
        <form class="row" asp-action="CreateOrder" asp-controller="Home">
            <input type="hidden" class="session-cost" name="session-cost" value=@session.Cost>
            <input type="hidden" class="session-link" name="session-link" value=@session.LINK>
            <div class="w-100 delimetr mb-2"></div>
            <ul class="col-12 list-group">
                @for (int i = 0; i < rowCount; i++)
                {
                    <li class="d-none list-group-item border-0 bg-transparent py-0" id="row-@(i+1)">Ряд @(i+1), место:</li>
                }
            </ul>
            <p class="col mb-0 m-auto">Итоговая стоимость: <span id="total-cost" class="text-orange">0</span> p.</p>
            <input type="submit" class="btn border-orange make-order-button col-3 mr-3" value="Заказать">
        </form>
    </div>
}



