@model IndexViewModel
@{
    ViewData["Title"] = "Профиль";
    string imgPath = "";
    if (Model.ProfileImage is null)
    {
        imgPath = Url.Content("~/images/Profiles/default.png");
    }
    else
    {
        imgPath = Url.Content("~/images/Profiles" + Model.ProfileImage);
    }
}


<div class="d-md-flex flex-md-row mt-0">
    @*<ul class="nav nav-tabs d-md-inline-flex align-self-md-start flex-md-column col-md-2 col-lg-2 profile-list mt-2 mt-md-0" id="myTab" role="tablist">
        <li class="nav-item w-100">
            <a class="nav-link text-center px-0 px-md-3 active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="true">Профиль</a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link text-center px-0 px-md-3" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history">История</a>
        </li>
        <li class="nav-item w-100 d-none d-md-block">
            <a class="nav-link text-center px-0 px-md-3" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Настройка профиля</a>
        </li>
        <li class="nav-item w-100 d-none d-md-block">
            <a class="nav-link text-center px-0 px-md-3" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">Сменить пароль</a>
        </li>
        <li class="nav-item w-100 d-none d-md-block">
            <a class="nav-link text-center px-0 px-md-3" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">PLACEHOLDER</a>
        </li>
        <li class="nav-item dropdown d-md-none text-center w-100">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
            <div class="dropdown-menu dropdown-fix">
                <a class="dropdown-item" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Настройка профиля</a>
                <a class="dropdown-item" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">Сменить пароль</a>
                <a class="dropdown-item" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">PLACEHOLDER</a>
            </div>
        </li>
    </ul>*@

    <ul class="profile-menu align-items-baseline align-self-md-start d-flex d-md-inline-flex flex-md-column flex-row justify-content-between mt-3 nav" id="myTab" role="tablist">
        <li class="nav-item session-nav">
            <a class="selected btn col nav-link px-md-3 show text-center border-orange" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="true" aria-selected="true">Профиль</a>
        </li>
        <li class="nav-item session-nav">
            <a class="btn nav-link px-md-3 text-center border-orange" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">История</a>
        </li>
        <li class="nav-item w-100 d-none d-md-block">
            <a class="border-orange btn nav-link text-center" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Настройка профиля</a>
        </li>
        <li class="nav-item w-100 d-none d-md-block">
            <a class="border-orange btn nav-link px-md-3 text-center" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Сменить пароль</a>
        </li>
        @*<li class="nav-item w-100 d-none d-md-block">
            <a class="border-orange btn nav-link px-md-3 text-center" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">PLACEHOLDER</a>
        </li>*@
        <li class="d-md-none dropdown nav-item text-center">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
            <div class="dropdown-menu dropdown-fix">
                <a class="dropdown-item" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Настройка профиля</a>
                <a class="dropdown-item" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">Сменить пароль</a>
                @*<a class="dropdown-item" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">PLACEHOLDER</a>*@
            </div>
        </li>
    </ul>
    <div class="tab-content py-3 px-md-3 py-md-0 w-100 mt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                <h2 class="col-12">Профиль</h2>
                <hr class="d-none d-sm-none d-md-block ml-3 col-lg-9" />
                <div class="col-12 col-sm-5 col-md-6 col-lg-4 order-md-1">
                    <img class="img-fluid img-thumbnail d-block mx-auto" src="@imgPath" style="width: 200px;height: 180px;object-fit: cover;" />
                </div>
                <div class="col-12 col-sm-7 col-md-6 col-lg-4 order-md-0 offset-lg-1 align-self-lg-center">
                    <div class="text-center mb-1">
                        <span class="h4 text-orange">@Model.Username</span>
                    </div>
                    <div class="text-center mb-1">
                        <span class="text-center">@Model.Name @Model.SurName, @Model.Age</span>
                    </div>
                    <div class="row">
                        <label class="text-info col-4 text-right" asp-for="@Model.Email"></label>
                        <span class="col">@Model.Email</span>
                    </div>
                    <div class="row">
                        <label class="text-info col-4 text-right" asp-for="@Model.City"></label>
                        <span class="col">@Model.City</span>
                    </div>

                </div>
                <h2 class="col-12 order-md-3">Избранные фильмы</h2>
                <div class="col-12 col-lg-10 order-md-4">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <td>Название фильма</td>
                                <td class="w-25 text-center">Локальный рейтинг</td>
                                <td class="w-25 text-center">Рейтинг</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td><a class="text-info" href="#">PLACEHOLDER</a></td>
                                    <td class="text-center">0.0</td>
                                    <td class="text-center">0.00</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
            <div class="row">
                <h2 class="col-12">История заказов</h2>
                <hr class="w-100 d-none d-sm-none d-md-block ml-3 col-lg-9" />
                <div class="col-lg-10">
                    <table id="history-table" class="table table-hover bg-dark-blue">
                        <thead>
                            <tr>
                                <th class="border-top-0" data-breakpoints="xs sm">Зал</th>
                                <th class="border-top-0">Фильм</th>
                                <th class="border-top-0">Дата сеанса</th>
                                <th class="border-top-0" data-breakpoints="xs sm">Количество билетов</th>
                                <th class="border-top-0" data-breakpoints="xs ">Стоимость</th>
                                <th class="border-top-0" data-breakpoints="xs sm md">Дата оформления</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td>PLACEHOLDER</td>
                                    <td>PLACEHOLDER</td>
                                    <td>PLACEHOLDER</td>
                                    <td>PLACEHOLDER</td>
                                    <td>PLACEHOLDER</td>
                                    <td>PLACEHOLDER</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="row">
                <h2 class="col-12">Настройка профиля</h2>
                <hr class="w-100 d-none d-sm-none d-md-block ml-3 col-lg-9" />
                <div class="col-12">
                    <form class="row" asp-action="ChangeProfileSettings" asp-controller="Manage" method="post">

                        <div class="col-12 col-lg-5 order-1 order-lg-0">
                            <div class="form-group">
                                <label class="text-info" asp-for="Email"></label>
                                <input asp-for="Email" class="form-control control" style="color:#000000" />
                            </div>
                            <div class="form-group">
                                <label class="text-info" asp-for="Name"></label>
                                <input asp-for="Name" class="form-control control" />
                            </div>
                            <div class="form-group">
                                <label class="text-info" asp-for="SurName"></label>
                                <input asp-for="SurName" class="form-control control" />
                            </div>
                        </div>
                        <div class="align-items-center col-12 col-lg-5 d-flex flex-column form-group mb-0 order-0 order-lg-1 text-center">
                            <div class="mt-2"><img id="profile-image" class="img-fluid img-thumbnail d-block mx-auto" style="width: 200px;height: 180px;object-fit: cover;" src="/images/Profiles/default.png"></div>
                            <input class="mt-2 my-md-auto text-center" type="file" name="ProfileUploaded" onchange="ChangeImage(this.files);" id="ProfileUploaded">
                        </div>
                        <div class="col-12 col-lg-5 order-2 order-lg-2">
                            <div class="form-group">
                                <label class="text-info" asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control control" />
                            </div>
                            <div class="form-group">
                                <label class="text-info" asp-for="Age"></label>
                                <input asp-for="Age" class="form-control control" />
                            </div>
                            <div class="form-group">
                                <label class="text-info" asp-for="City"></label>
                                <input asp-for="City" class="form-control control" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 order-3 order-lg-3 mt-lg-3">
                            <div class="form-group text-center">
                                <label class="text-info" asp-for="PersonalInfoVisible"></label>
                                <input asp-for="PersonalInfoVisible" class="form-check-inline" />
                            </div>
                            <div class="form-group text-center">
                                <label class="text-info" asp-for="SelectedFilmsVisible"></label>
                                <input asp-for="SelectedFilmsVisible" class="form-check-inline" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 order-12 order-lg-4"><button type="submit" class="btn border-orange w-100">Сохранить</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
            @*<div class="row">
                <h2 class="col-12">Смена пароля</h2>
                <hr class="w-100 d-none d-md-block ml-3 col-lg-9" />
                <div class="col-12 col-sm-9 col-lg-5">
                    <form asp-action="ChangePassword" asp-controller="Manage" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="text-info" asp-for="ChangePasswordModel.OldPassword"></label>
                            <input asp-for="ChangePasswordModel.OldPassword" class="form-control control" />
                            <span asp-validation-for="ChangePasswordModel.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-info" asp-for="ChangePasswordModel.NewPassword"></label>
                            <input asp-for="ChangePasswordModel.NewPassword" class="form-control control" />
                            <span asp-validation-for="ChangePasswordModel.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-info" asp-for="ChangePasswordModel.ConfirmPassword"></label>
                            <input asp-for="ChangePasswordModel.ConfirmPassword" class="form-control control" />
                            <span asp-validation-for="ChangePasswordModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn border-orange">Обновить пароль</button>
                    </form>
                </div>
            </div>*@
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


