@model IndexViewModel
@{
    ViewData["Title"] = "Профиль";
    string imgPath = "";
    if (Model.ProfileImage is null)
    {
        imgPath = Url.Content("~/images/Profiles/default.png");
    }
    else
    {
        imgPath = Url.Content("~/images/Profiles" + Model.ProfileImage);
    }
}


<h1>Профиль</h1>

<div class="d-md-flex flex-md-row">
    <ul class="nav nav-tabs d-md-inline-flex align-self-md-start flex-md-column col-md-2" id="myTab" role="tablist">
        <li class="nav-item w-25">
            <a class="nav-link text-center px-0 active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="true">Профиль</a>
        </li>
        <li class="nav-item w-25">
            <a class="nav-link text-center px-0" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history">История</a>
        </li>
        <li class="nav-item dropdown d-md-none text-center w-50">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
            <div class="dropdown-menu dropdown-fix" >
                <a class="dropdown-item" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">Сменить пароль</a>
                <a class="dropdown-item" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">PLACEHOLDER</a>
                <a class="dropdown-item" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password">PLACEHOLDER</a>
            </div>
        </li>
    </ul>
    <div class="tab-content py-3 px-md-3 py-md-0 w-100" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="img-fluid img-thumbnail w-75 d-block mx-auto" src="@imgPath" />
                </div>
                <div class="col-12 col-md-6">
                    <div class="text-center mb-1">
                        <span class="h4 text-orange">@Model.Username</span>
                    </div>
                    <div class="text-center mb-1">
                        <span class="text-center">@Model.Name @Model.SurName, @Model.Age</span>
                    </div>
                    <div class="row">
                        <label class="text-info col-4 text-right" asp-for="@Model.City"></label>
                        <span class="col">@Model.City</span>
                    </div>
                    <div class="row">
                        <label class="text-info col-4 text-right" asp-for="@Model.Email"></label>
                        <span class="col">@Model.Email</span>
                    </div>
                    <div class="row">
                        <label class="text-info col-4 text-right" style="width:60px" asp-for="@Model.About"></label>
                        <p class="col" style="word-break:break-all">@Model.About 123 2334</p>
                    </div>
                </div>
            </div>

            <h2>Избранные фильмы</h2>
            <div class="row">
                <h1 class="mx-auto">Типа таблица</h1>

            </div>
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
            <h2>История заказов</h2>
            <table id="history-table" class="table bg-dark">
                <thead>
                    <tr>
                        <th data-breakpoints="xs">ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th data-breakpoints="xs">Job Title</th>
                        <th data-breakpoints="xs sm">Started On</th>
                        <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-expanded="false">
                        <td>1</td>
                        <td>Dennise</td>
                        <td>Fuhrman</td>
                        <td>High School History Teacher</td>
                        <td>November 8th 2011</td>
                        <td>July 25th 1960</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Elodia</td>
                        <td>Weisz</td>
                        <td>Wallpaperer Helper</td>
                        <td>October 15th 2010</td>
                        <td>March 30th 1982</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Raeann</td>
                        <td>Haner</td>
                        <td>Internal Medicine Nurse Practitioner</td>
                        <td>November 28th 2013</td>
                        <td>February 26th 1966</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Junie</td>
                        <td>Landa</td>
                        <td>Offbearer</td>
                        <td>October 31st 2010</td>
                        <td>March 29th 1966</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Solomon</td>
                        <td>Bittinger</td>
                        <td>Roller Skater</td>
                        <td>December 29th 2011</td>
                        <td>September 22nd 1964</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Bar</td>
                        <td>Lewis</td>
                        <td>Clown</td>
                        <td>November 12th 2012</td>
                        <td>August 4th 1991</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Usha</td>
                        <td>Leak</td>
                        <td>Ships Electronic Warfare Officer</td>
                        <td>August 14th 2012</td>
                        <td>November 20th 1979</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Lorriane</td>
                        <td>Cooke</td>
                        <td>Technical Services Librarian</td>
                        <td>September 21st 2010</td>
                        <td>April 7th 1969</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
            <div class="row">
                <h2 class="col-12">Смена пароля</h2>
                <div class="col-12">
                    <form asp-action="ChangePassword" asp-controller="Manage" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ChangePasswordModel.OldPassword"></label>
                            <input asp-for="ChangePasswordModel.OldPassword" class="form-control" />
                            <span asp-validation-for="ChangePasswordModel.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ChangePasswordModel.NewPassword"></label>
                            <input asp-for="ChangePasswordModel.NewPassword" class="form-control" />
                            <span asp-validation-for="ChangePasswordModel.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ChangePasswordModel.ConfirmPassword"></label>
                            <input asp-for="ChangePasswordModel.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ChangePasswordModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn border-orange float-right">Update password</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="">

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


